@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary{
    color: #2F5662;
}

.bg-primary{
    background-color: #2F5662;
}

.btn-primary{
    @apply  px-6 py-3 text-white rounded-md bg-primary ;
}

.max-w-sidebar{
    max-width: 54px;
}

.filament-forms-component-container input{
   @apply  placeholder:text-gray-400 placeholder:font-light;
   border-radius: 4px;
}

.filament-forms-component-container textarea{
    @apply  placeholder:text-gray-400 placeholder:font-light;
    border-radius: 4px;
 }

.filament-forms-component-container .choices__inner{
    @apply  placeholder:text-gray-400 placeholder:font-light;
    border-radius: 4px;
 }

 .filament-forms-component-container select{
    @apply  placeholder:text-gray-400 placeholder:font-light;
    border-radius: 4px;
 }

.filament-forms-field-wrapper button{
    border-radius: 4px;
}

.filament-forms-toggle-component{
    @apply rounded-full !important;
}