@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary{
    color: #2F5662;
}

.bg-primary{
    background-color: #2F5662;
}

.btn-primary{
    @apply  px-6 py-3 text-white rounded-md bg-primary ;
}

.max-w-sidebar{
    max-width: 54px;
}